body {
    background-color: #000000;
    color: #FFFFFF;
    overflow-x: hidden;
    font-family: 'Averia Serif Libre', cursive;
}

h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.col-8 {
    background-color: #0C0032;
}

.center-text {
    text-align: center;
}

.customcard {
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    background-color: #190061;
}